/* stylesheet  */

/* https://www.w3schools.com/css/css_navbar.asp */
/***  PAGE LAYOUT  ***/

html, body {
   font-size: 1em;
   text-align: left;
   text-decoration: none;
}
html { background-color: #e7e7e7; }

body {
   max-width: 40.96em;
   margin: 5.0em auto;
   padding: 3em 3em 5em 4em;
   background-color: white;
   border: .1em solid #c0c0c0;
/*       min-width: 780px;*/
/**    max-width: 1260px; **/

}


/* standard links */
a[href] { color: #008CBA;  text-decoration:none; font-weight: bold;}


img { max-width: 100%}

/* Navigation bar */
ul.navbar {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: .1em solid #c0c0c0;
    background-color: #f3f3f3;
}

li.navbar {
    float: right;
}

li.navbar a {
    display: block;
    color: #666;
    text-align: center;
    padding: 10px 16px;
    font-weight: normal;
    text-decoration: none;
}

li.navbar a:hover:not(.active) {
    font-weight: normal;
    background-color: #ddd;
}
li.navbar a.visited { color: #666; }

li.navbar a.active {
     border-bottom: 2px solid #008CBA;
    font-weight: normal;
     color:#008CBA;
     padding-bottom:1px;
}
.list {
  max-width: 800px;
}
.list ul.double-list {
  margin: 0 auto 60px;
  padding: 0;
  list-style-type: none;
}
.list ul.double-list li {
  padding: 5px 0;
}
.list ul.double-list li h2 {
  font-size: 1em;
  display: inline;
  font-weight: normal;
}
.list ul.double-list li span {
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: right;
  float: right;
  padding-top: 3px;
  font-size: 12px;
  color: #999;
}
.list a {
    color: #666;
    font-weight: normal;
    text-decoration: none;
}
